:root {
  --theme-blue: #156082;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url(images/background.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: flex-end;
}

main,
header {
  flex: 1;
}

/* header extras */
header > h2 {
  font-size: 4rem;
  color: lightblue;
  font-family: "Academy Engraved LET", sans-serif;
}

/* footer */
footer {
  margin-top: auto;
}

.game-logo {
  font-family: "Academy Engraved LET", sans-serif;
  font-size: 5rem;
  margin: 0;
  color: lightblue;
}

.game-copyrights {
  margin: 30px auto;
  color: lightblue;
}

/* temp */
main > a,
main > span {
  color: white;
}

/* sign forms, login and register */
.form-container {
  border-radius: 40px;
  width: 500px;
  min-height: 500px;
  height: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-form {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  margin: 20px auto;
}

.sign-form > h2 {
  font-size: 40px;
  color: white;
  font-weight: normal;
  margin: 20px auto;
}

.form-item {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 10px auto;
}

.form-item > input {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px auto;
  width: auto;
  min-width: 300px;
}

.prompt-sign > p > a {
  color: var(--theme-blue);
}

.prompt-sign > p > a:hover {
  color: lightblue;
}

.sign-button {
  padding: 15px 40px;
  background-color: var(--theme-blue);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: normal;
  margin: 20px auto;
}

.sign-button:hover {
  background-color: white;
  color: var(--theme-blue);
  cursor: pointer;
}

.menus {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.menus > a {
  margin: 10px auto;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.menus > a:hover {
  color: gray;
}

/* game section */
.game-container {
  border-radius: 40px;
  width: 1000px;
  min-height: 500px;
  height: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* leaderboard section */
.leaderboard-container {
  border-radius: 40px;
  width: 1000px;
  min-height: 500px;
  height: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  color: white;
}
table,
th,
td {
border-collapse: collapse;
padding: 1rem;
text-align: center;
}
.leaderboard-display {
    text-align: center;
}
.leaderboard-display img {
  width: 50px;
}
.leaderboard-icon p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.leaderboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pyramid {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.pyramid img {
  width: 50px;
}
.pyramid-display {
  position: relative;
  height: 320px;
  clip-path: polygon(50% 0, 20% 100%, 80% 100%);
  flex: 1
}
.pyramid div {
  background: red;
  width: 100%;
  height: 100px;
  margin: 0 auto 10px;
  color: white;
  line-height: 100px;
  text-align: center;
}
.pyramid p {
  display: flex;
  align-items: center;
}
.profile-details img {
  height: 2em;
}
.profile-details p {
  display: flex;
  align-items: center;
}
.profile-details {
  width: 300px;
}
.profile-section {
  border-radius: 40px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content:space-evenly;
  color: white;
}
.analytics {
  display: flex;
  justify-content: space-between;
}
.statistics {
  text-align: center;
  margin-left: 30px;
}
.score {
 width: 600px;
 height: 300px;
 margin: 30px auto;
}