:root {
  --theme-blue: #156082;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url(images/background.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: flex-end;
}

main,
header {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
}

/* header extras */
header > h2 {
  font-size: 4rem;
  color: lightblue;
  font-family: "Academy Engraved LET", sans-serif;
  margin: 0 0 20px 0;
}

.game-logo {
  font-family: "Academy Engraved LET", sans-serif;
  font-size: 5rem;
  margin: 0;
  color: lightblue;
}

.game-copyrights {
  margin: 30px auto;
  color: lightblue;
}

/* temp */
main > a,
main > span {
  color: white;
}

/* sign forms, login and register */
.form-container {
  border-radius: 40px;
  width: 500px;
  min-height: 500px;
  height: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-form {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  margin: 20px auto;
}

.sign-form > h2 {
  font-size: 40px;
  color: white;
  font-weight: normal;
  margin: 20px auto;
}

.form-item {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 10px auto;
}

.form-item > input {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px auto;
  width: auto;
  min-width: 300px;
}

.prompt-sign > p > a {
  color: var(--theme-blue);
}

.prompt-sign > p > a:hover {
  color: lightblue;
}

.sign-button {
  padding: 15px 40px;
  background-color: var(--theme-blue);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: normal;
  margin: 20px auto;
}

.sign-button:hover {
  background-color: white;
  color: var(--theme-blue);
  cursor: pointer;
}

.menus {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.menus > a {
  margin: 10px auto;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.menus > a:hover {
  color: gray;
}

/* game section */
.game-container {
  border-radius: 40px;
  width: 1000px;
  height: 600px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.game-status {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(155, 155, 155, 0.7);
  padding: 20px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2rem;
}

.game-status .status-group {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.game-status img {
  height: 50px;
  margin-right: 10px;
}

.level-contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.level-contents > hr {
  width: 90%;
}

.level-content {
  padding: 0 40px;
}

.content-titles {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.content-title > h3 {
  font-size: 2rem;
  font-weight: normal;
  color: lightblue;
  margin: auto 10px;
}
.content-title > img {
  width: 50px;
  height: 50px;
}

.content-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  height: 300px;
}

.level-content:nth-child(1) {
  font-size: 1.5rem;
}

.level-content:nth-child(2) {
  font-size: 1.2rem;
  text-align: justify;
}

.level-content:nth-child(3) {
  font-size: 2rem;
}

.level-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  text-align: center;
  align-items: center;
}

.guess-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: auto;
  flex: 1;
}

.guess-container > button {
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
  padding: 15px 40px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.guess-container > button > img {
  width: 40px;
  margin-left: 10px;
}

.guess-container > button > span {
  margin-right: 10px;
}

.guess-container > button:hover {
  background-color: darkslategray;
}

.input-guess {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  padding: 0 40px 20px 0;
}

.guesses {
  display: flex;
  flex-direction: row;
  margin: 20px;
  color: white;
  align-items: center;
}

.guesses label,
.guesses input,
.guesses select {
  font-size: 1.5rem;
  width: 100%;
  flex: 1;
}

.guesses input,
.guesses select {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  color: black;
}

.guesses select {
  -webkit-appearance: none; /* Remove default arrow for Chrome/Safari */
  -moz-appearance: none; /* Remove default arrow for Firefox */
  appearance: none; /* Remove default arrow for modern browsers */
  font-weight: normal;
  color: black;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 48px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.guesses select:disabled {
  color: gray;
}

/* leaderboard section */
.leaderboard-container {
  border-radius: 40px;
  width: 1000px;
  min-height: 500px;
  height: auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  color: white;
}
table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

.leaderboard-content table {
  width: 60%;
}

.leaderboard-content table thead tr th {
  color: lightblue;
  font-size: 1.1rem;
}

.leaderboard-display {
  text-align: center;
}
.leaderboard-display img {
  width: 50px;
}
.leaderboard-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.leaderboard-title > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leaderboard-title p:nth-child(2) {
  position: absolute;
  right: 0;
}
.leaderboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.leaderboard-header > div > img,
.leaderboard-header > div > p > img {
  margin-right: 10px;
}

.leaderboard-content {
  display: flex;
  flex-direction: row;
}

.leaderboard-title,
.pyramid-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.ranking-order {
  font-weight: normal;
  font-size: 1rem;
}

.pyramid {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}
.pyramid img {
  width: 50px;
}
.pyramid-display {
  position: relative;
  height: 320px;
  clip-path: polygon(50% 0, 10% 100%, 90% 100%);
  flex: 1;
  text-wrap: wrap;
}
.pyramid div {
  background: red;
  width: 100%;
  height: 100px;
  margin: 0 auto 10px;
  color: white;
  line-height: 140px;
  text-align: center;
}

.pyramid p {
  display: flex;
  align-items: center;
}

.pyramid-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  align-items: center;
}

.profile-pic > #avatar {
  height: 150px;
  border-radius: 10px;
}

.profile-pic > #edit-avatar {
  height: 30px;
}

.profile-pic > #avatar {
  height: 150px;
}

.prof-details img {
  height: 4em;
  width: 4em;
  border-radius: 20px;
  margin-right: 20px;
}
.profile-details p {
  display: flex;
  align-items: center;
}
.profile-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-container {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.profile-container > h3 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  width: 90%;
}

.score {
  flex-grow: 1;
}

.statistics {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat {
  margin: 5px auto;
}

.stat p {
  margin: 5px auto;
}

.statistics-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-num {
  display: flex;
}
.global-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 5px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.global-button:hover {
  background-color: gray;
}

.global-button img {
  width: 50px;
}

#settings-button {
  bottom: 100px;
}

/* guess results section  */

.dark-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  display: none;
}

.close-message {
  float: right;
  cursor: pointer;
  color: black;
}

.close-message:hover {
  color: red;
}
