{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>

    {% comment %} Charts {% endcomment %}
    <script type="text/javascript" src="{% static 'game/chart.js' %}"></script>

    {% comment %} CSS {% endcomment %}
    <link href="{% static 'game/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'game/socials.css' %}" rel="stylesheet" />

    {% comment %} React, ReactDOM, Babel {% endcomment %}
    <script
      src="https://unpkg.com/react@17/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    {% comment %} Fonts {% endcomment %}
    <link
      href="https://fonts.cdnfonts.com/css/academy-engraved-let"
      rel="stylesheet"
    />

    {% comment %} icons {% endcomment %}
    <script
      src="https://kit.fontawesome.com/ba0aefa485.js"
      crossorigin="anonymous"
    ></script>

    {% comment %} JavaScript {% endcomment %}
    <script src="{% static 'game/app.js' %}"></script>
    <script src="{% static 'game/socials.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hangman Game</title>
  </head>
  <body>
    {% block body %} {% endblock %} {% comment %} if the user is authenticated
    then show the profile button {% endcomment %}

    <div class="user-name">User: {{user}}</div>

    <button class="global-button">
      <a href="{% url 'profile' %}">
        <img src="{% static "game/icons/user.png" %}" >
      </a>
    </button>
    <button class="global-button" id="settings-button">
      <img src="{% static "game/icons/gear.png" %}" >
    </button>
    <footer>
      <p class="game-copyrights">
        &copy; 2024 Word Warriors. All Rights Reserved
      </p>
    </footer>
  </body>
</html>
