{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart", "bar"] });
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {
        var data = google.visualization.arrayToDataTable([
          ["Subject", "Score", { role: "style" }],
          ["Economics", 50, "#196b24"],
          ["Math", 40, "#46b1e1"],
          ["Politics", 35, "#46b1e1"],
          ["Physics", 30, "#46b1e1"],
          ["Commerce", 20, "#c00000"],
        ]);

        var options = {
          title: "Average Score by Categories",
          titleTextStyle: {
            color: "#FFF",
          },
          chartArea: { width: "60%", height: "90%" },
          backgroundColor: "none",
          hAxis: {
            textStyle: { color: "#FFF" },
            viewWindow: {
              min: 0,
              max: 50,
            },
          },
          vAxis: {
            textStyle: { color: "#FFF" },
          },
          legend: { position: "none" },
        };

        var chart = new google.visualization.BarChart(
          document.getElementById("chart")
        );

        chart.draw(data, options);
      }
    </script>

    {% comment %} CSS {% endcomment %}
    <link href="{% static 'game/styles.css' %}" rel="stylesheet" />

    {% comment %} React, ReactDOM, Babel {% endcomment %}
    <script
      src="https://unpkg.com/react@17/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    {% comment %} Fonts {% endcomment %}
    <link
      href="https://fonts.cdnfonts.com/css/academy-engraved-let"
      rel="stylesheet"
    />

    {% comment %} JavaScript {% endcomment %}
    <script src="{% static 'game/app.js' %}"></script>

    <title>Hangman Game</title>
  </head>
  <body>
    {% block body %} {% endblock %} {% comment %} if the user is authenticated
    then show the profile button {% endcomment %}
    <button class="global-button">
      <a href="{% url 'profile' %}">
        <img src="{% static "game/icons/user.png" %}" >
      </a>
    </button>
    <button class="global-button" id="settings-button">
      <img src="{% static "game/icons/gear.png" %}" >
    </button>
    <footer>
      <p class="game-copyrights">
        &copy; 2024 Word Warriors. All Rights Reserved
      </p>
    </footer>
  </body>
</html>
