{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% comment %} CSS {% endcomment %}
    <link href="{% static 'game/styles.css' %}" rel="stylesheet" />

    {% comment %} React, ReactDOM, Babel {% endcomment %}
    <script
      src="https://unpkg.com/react@17/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    {% comment %} Fonts {% endcomment %}
    <link
      href="https://fonts.cdnfonts.com/css/academy-engraved-let"
      rel="stylesheet"
    />

    {% comment %} JavaScript {% endcomment %}
    <script src="{% static 'game/app.js' %}"></script>

    <title>Hangman Game</title>
  </head>
  <body>
    {% block body %} {% endblock %} 
    
    {% comment %} if the user is authenticated then show the profile button {% endcomment %}
    <button class="global-button">
      <img src="{% static "game/icons/user.png" %}" >
    </button>
    <button class="global-button" id="settings-button">
      <img src="{% static "game/icons/gear.png" %}" >
    </button>

    <footer>
      <p class="game-copyrights">
        &copy; 2024 Word Warriors. All Rights Reserved
      </p>
    </footer>
  </body>
</html>
