{% extends "game/layout.html" %} {% load static %} {% block body %}
<header>
  <h2>Leaderboard</h2>
</header>

<main>
  <div class="leaderboard-container">
    <div class="leaderboard-display">
      <div class="leaderboard-header">
        <div class="pyramid-title" style="width: 40%">
          <img src="{% static "game/images/pyramidpic.png" %}">MVP Pyramid
        </div>
        <div class="leaderboard-title" style="width: 60%">
          <p><img src="{% static "game/images/leaderb.png" %}">Leaderboard</p>
          <p class="ranking-order">
            Score<img src="{% static "game/images/score.png" %}" style="width:
            20px; margin-left: 10px;">
          </p>
        </div>
      </div>
      <div class="leaderboard-content">
        <div class="pyramid">
          <div class="pyramid-display">
            <div class="top" style="line-height: 160px">Jon Snow</div>
            <div class="mid" style="border: 2px solid">Tyrion Lannister</div>
            <div class="bottom">Arya Stark</div>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Best Score</th>
              <th>Highest Level</th>
              <th>Longest Streak</th>
            </tr>
          </thead>
          <tbody>

            {% comment %} {% for item in data %}
            <tr>
              <td>{{item.user}}</td>
              <td>{{item.points}}</td>
              <td>10</td>
              <td>5</td>
            </tr>
            {% endfor %} {% endcomment %}

            <tr>
              <td>Jon Snow</td>
              <td>940</td>
              <td>10</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Petyr Baelish</td>
              <td>880</td>
              <td>9</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Tyrion Lannister</td>
              <td>860</td>
              <td>12</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Cersei Lannister</td>
              <td>820</td>
              <td>11</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Arya Stark</td>
              <td>800</td>
              <td>14</td>
              <td>6</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock %}
