{% extends "game/layout.html" %} {% load static %} {% block body %}
<script src="app.js"></script>
<header>
  <h2>Leaderboard</h2>
</header>

<main>
  <div class="leaderboard-container">
    <div class="leaderboard-display">
      <div class="leaderboard-header">
        <div class="pyramid-title" style="width: 40%">
          <img src="{% static "game/images/pyramidpic.png" %}">MVP Pyramid
        </div>
        <div class="leaderboard-title" style="width: 60%">
          <p><img src="{% static "game/images/leaderb.png" %}">Leaderboard</p>
          <p>
          <form id="sort-form" method="GET" action="{% url 'leaderboard' %}">
            <select id="rank-type" name="rank-type" required>
              <option value="" selected disabled>Choose One</option>
              <option value="score">Score</option>
              <option value="level">Level</option>
              <option value="streak">Streak</option>
            </select>
          </p>
        </div>
      </div>
      <div class="leaderboard-content">
        <div class="pyramid">
          <div class="pyramid-display">
            <div class="top" style="line-height: 160px">Jon Snow</div>
            <div class="mid" style="border: 2px solid">Tyrion Lannister</div>
            <div class="bottom">Arya Stark</div>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Best Score</th>
              <th>Highest Level</th>
              <th>Longest Streak</th>
            </tr>
          </thead>
          <tbody>
            {% for user_data in leaderboard %}
              <tr>
                <td>{{ user_data.username }}</td>
                <td>{{ user_data.best_score }}</td>
                <td>{{ user_data.highest_level }}</td>
                <td>{{ user_data.longest_streak }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>

</main>

{% endblock %}
