{% extends "game/layout.html" %} {% load static %} {% block body %}
<header>
  <h2>Profile</h2>
</header>
<main>
  <div class="profile-container">
    <h3>Analytics</h3>
    <div class="profile-section">
      <div class="profile-details">
        <div class="profile-pic">
          <img id="avatar" src="{% static "game/images/profile_avtpic.png" %}">
          {% comment %} <img id="edit-avatar" src="{% static "game/images/profile_editicon.png"%}"> {% endcomment %}
        </div>
        <div class="prof-details">
          <p><img src="{% static "game/images/profile_name.png" %}"> {{user}}</p>
        </div>
        <div class="prof-details">
          <p>
            <img src="{% static "game/images/profile_mail.png"%}">
            jsnow@westeros.com
          </p>
        </div>
        <div class="prof-details">
          <p>
            <img src="{% static "game/images/profile_rank.png" %}"> Elite - Ranked
          </p>
        </div>
        <div class="prof-details">
          <p>
            <img src="{% static "game/images/profile_badge.png" %}"> 2024 Best
            Economist
          </p>
        </div>
      </div>
      {% comment %} <div class="score" id="chart"></div> {% endcomment %}
      <div class="statistics">
        <div class="stat">
          <p>Highest Score</p>
          <p style="font-size: 50px; color: lightblue">{{profile.best_score}}</p>
        </div>
        <div class="stat">
          <p>Highest Level</p>
          <p style="font-size: 50px; color: lightblue">{{profile.highest_level}}</p>
        </div>
        <div class="stat">
          <p>Win Rate</p>
          <p style="font-size: 50px; color: lightblue">80%</p>
        </div>
        <div class="stat">
          <p>Longest No-fail streak</p>
          <p style="font-size: 50px; color: lightblue">5</p>
        </div>
        <div class="stat">
          <p>Successful Guess</p>
          <p style="font-size: 50px; color: lightblue">62%</p>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
