{% extends "game/index.html" %} {% block core %}

<div class="form-container">
  <form method="post" class="sign-form">
    <h2>REGISTER</h2>
    <div class="form-group">
      <div class="form-item">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Write a username"
        />
      </div>
      <div class="form-item">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Write your password"
          required
        />
      </div>
      <div class="form-item">
        <label for="password">Confirm Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Rewrite your password"
          required
        />
      </div>
    </div>
    <button type="submit" class="sign-button">Register</button>
    <div class="prompt-sign">
      <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
  </form>
</div>

{% endblock %}
